<div class="container">
  <!-- il cockpit component espone due eventi bindabili (custom) definito nel typescript -->
  <!-- serverCreated è l'evento lanciato dal cockpit-component che qui viene intercettato e bindato su 
  due metodi dell'app.component -->
  <app-cockpit
  (serverCreated)="onServerAdded($event)"
  (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change first Element</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first Component</button>
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
        [name]="serverElement.name">
        <!-- Qui sotto stiamo passando l'html dal component padre al component figlio direttamente come valore tra apici (><) dell'elemento html -->
        <p>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
